ion-header {
  height: 15vh;
  width: 100vw;
  background-color: var(--ion-color-primary);
  text-align: center;
  color: white;
}

.cabeceraGeneral {
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabeceraTitulo {
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  // font-style: italic;
}

.footerStart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: 100%;
  text-align: center;
}

.botonMenu {
  display: inline;
  width: 33%;
  border: solid 1px;
  border-color: var(--ion-color-primary);
  background-color: white;
  margin: 3px;
}

.btnMenuIcono {
  justify-content: center;
  height: 50%;
  padding-top: 3vh;
  color: var(--ion-color-primary);
  font-size: 9vh;
}

.btnMenuTexto {
  justify-content: center;
  height: 50%;
  padding-top: 4vh;
  color: var(--ion-color-primary);
  font-size: 2vh;
}

input {
  display: inline-block;
  box-sizing: content-box;
  // padding: 1.5vh 3vw;
  padding: 0.2rem 1rem;
  border: 1px solid var(--ion-color-primary);
  -webkit-border-radius: 27px;
  border-radius: 5px;
  width: -webkit-fill-available;
  margin: 0.8vh 3vw;
}

.ingresar {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 7px 10px;
  //   border: 1px solid #018dc4;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  color: rgba(255, 255, 255, 1);
  background: var(--ion-color-primary);
  width: 38vw;
  margin-top: 2vh;
  height: 3vh;
}

p {
  font-size: 3vw;
  color: grey;
  text-align: justify;
  padding: 5%;
}

ion-input {
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
}

ion-checkbox {
  height: 1.1rem;
  width: 1.1rem;
}

ion-select {
  border-radius: 5px;
  // width: 13vw;
  background-color: white;
  height: 100%;
  margin: 0px 0px 0px 2.5vw;
  border: 1px solid var(--ion-color-primary);
  display: flex;
  align-items: center;
}

img {
  object-fit: scale-down;
  height: 3rem;
}

.filaImagenes {
  width: 100%;
  display: flex;
  height: 7vh;
}
