<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;" (click)="popCart($event)">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
      <ion-badge color="dark" mode="ios" *ngIf="ticket.comprasDetalles && ticket.comprasDetalles.length>0"
        style="position: absolute; left: 81%; top: 2px; font-size: 0.7rem;opacity: 0.7; background-color: #0247ac;">
        {{ticket.comprasDetalles.length}}</ion-badge>
    </div>

    <div style="display: inline; width: 10%" (click)="popMenu($event)">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Medios de pago
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loading>0"  color="secondary"></ion-progress-bar>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: orange">
    <div style=" height: 100%; background-color: white ;">
      <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
        <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center "
          style="height: 100%; padding-top: 0.5rem;">
          <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center; background-color: white;">

            <!-- 1ra fila -->
            <div style="text-align: center;">
              <div style="background-color: var(--ion-color-primary);color: white; border-radius: 40px 40px 5px 5px; ">
                Convenios</div>
            </div>

            <!-- 2da fila -->
            <ion-list class=" ion-no-padding ion-no-margin">
              <ion-radio-group>

                <ion-grid fixed class=" ion-no-padding ion-no-margin">
                  <ion-row>

                    <ion-col size-lg="2" size-md="2" size-sm="4" size="4" *ngFor="let convenio of listaConvenio"
                      class=" ion-no-padding ion-no-margin">

                      <ion-item lines="none">
                        <ion-label style="margin: 0;">
                          <img src="{{ convenio.imagenInferior || 'assets/images/MediosDePago/default.jpg'}}"
                            title="{{convenio.convenio.descripcion}}">
                        </ion-label>
                        <ion-radio mode="md" slot="start" (click)="seleccionadoConvenioUp(convenio.idConvenio)"
                          style="margin: 0;" value="{{ convenio.idConvenio }}"></ion-radio>
                      </ion-item>

                    </ion-col>

                  </ion-row>
                </ion-grid>


              </ion-radio-group>
            </ion-list>

            <div style="text-align: center; margin-top: 1vh;"
              *ngIf="listaDetalleConvenio.length > 0 || DatosFormulario.convenioDown ==='BCNSD'">
              <div style="background-color: var(--ion-color-primary);color: white; border-radius: 40px 40px 5px 5px; ">
                Datos Convenio</div>
            </div>


            <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////// INICIO CHEKEAR INPUT RUT  ///////////////////////////////////////////
            ///////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <!-- input con Sencosud -->
            <div style="text-align: center; display: flex;"
              *ngIf="(!listaDetalleConvenio || listaDetalleConvenio.length ===0) &&  DatosFormulario.convenioDown ==='BCNSD'">

              <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                <input type="text" [textMask]={mask:rutFunction,guide:false} [(ngModel)]="DatosFormulario.rut"
                  name="rutConvenio" #input_rut (keypress)="tecleado($event)" placeholder="RUT">
              </div>

            </div>




            <div *ngIf="listaDetalleConvenio.length > 0 || DatosFormulario.convenioDown ==='BCNSD'">

              <!-- input con convenio -->
              <div style="text-align: center; display: flex;" *ngFor="let input of listaDetalleConvenio">
                <div *ngIf="(input.Estado == 'ACT' && input.VisibleUsr == 'SI' && input.TipoDato == 'ETIQUETA')"
                  style="width: 100%; display: flex; justify-content: center; align-items: center;">
                  <input type="text" [textMask]={mask:rutFunction,guide:false} [(ngModel)]="input.Valor"
                    name="rutConvenio" #input_rut (keypress)="tecleado($event)" placeholder="{{input.Valor}}">
                </div>
              </div>

              <!-- boton Validar -->
              <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                <ion-button (click)="validarDatosConvenio()" style="color: white;  width:100% ;padding: 0 3vw; outline: none; text-transform: none;--background: var(--ion-color-primary);">
                  Validar
                </ion-button>
              </div>

            </div>

            <!-- cual será el ngmodel común para cualquier caso? -->
            <!-- el input debe aparecer al seleccionar un convenio de arriba en pantalla como abajo en sencosud  y no entiendo bien las condiciones de cada caso-->



            <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////// FIN CHEKEAR INPUT RUT  ///////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <!-- 4ta fila -->
            <div style="text-align: center; margin-top: 2vh;">
              <div
                style="background-color: var(--ion-color-primary);color: white;  border-radius: 40px 40px 5px 5px; margin-bottom: 1vh;">
                Informacion de Contacto</div>
            </div>

            <!-- 6ta fila -->
            <div
              style="text-align: center;display: flex; flex-direction: row; align-items: center;align-items: center;">
              <div style=" width: 35%;">
                <input style="text-align: center; margin: 0.8vh 0vw 0.8vh 3vw; font-size: 0.8rem;"
                  [textMask]="maskCodigo" type="text" placeholder="Código País" [(ngModel)]="DatosFormulario.codigo"
                  name="codigo" #input_codigo (keypress)="tecleado($event)" (keyup.enter)="setFocus('telefono')">
              </div>
              <div style=" width: 65%;">
                <input type="text" [textMask]={mask:telefonoFunction,guide:false} placeholder="Teléfono"
                  [(ngModel)]="DatosFormulario.telefono" name="telefono" #input_telefono (keypress)="tecleado($event)"
                  (keyup.enter)="setFocus('email')">
              </div>
            </div>

            <!-- 7ma fila -->
            <div style="text-align: center;">
              <input type="email" placeholder="E-mail" [(ngModel)]="DatosFormulario.email" name="email" #input_email
                (keypress)="tecleado($event)" (keyup.enter)="setFocus('email2')">
            </div>

            <!-- 8va fila -->
            <div style="text-align: center;">
              <input type="email" placeholder="Re-ingresar" [(ngModel)]="DatosFormulario.email2" name="email2"
                #input_email2 (keypress)="tecleado($event)">
            </div>

            <!-- 9na fila -->
            <div style="text-align: center;">
              <h2 *ngIf="mostrarTarifaAtachada" style="text-decoration:line-through;color: red;">
                Total: ${{totalSinDscto.toLocaleString('de-DE') }}</h2>
              <h2>Total: ${{totalFinal.toLocaleString('de-DE') }}</h2>
            </div>

            <ion-list class=" ion-no-padding ion-no-margin">
              <ion-radio-group>
                <ion-grid fixed class=" ion-no-padding ion-no-margin">
                  <ion-row style="padding-left: 10vw;">

                    <ion-col size-lg="6" size-md="6" size-sm="6" size="6" *ngFor="let medioPago of listaMedioPago"
                      class=" ion-no-padding ion-no-margin">

                      <ion-item lines="none">
                        <ion-label style="margin: 0;">

                          <img src="{{ medioPago.Imagen || 'assets/images/MediosDePago/default.jpg'}}"
                            title="{{medioPago.Descripcion}}">
                        </ion-label>
                        <ion-radio mode="md" slot="start" (click)="seleccionadoMedioPago(medioPago.Convenio)"
                          style="margin: 0;" value="{{ medioPago.Convenio }}"></ion-radio>
                      </ion-item>

                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-radio-group>
            </ion-list>

            <!-- 11va fila -->
            <div (click)="aceptarAcuerdo()" style="display: flex;margin: 1.5rem;">
              <ion-checkbox [(ngModel)]="acuerdo.acuerdo" style="min-height: 1rem;min-width: 1rem;margin: 0 2vw;">
              </ion-checkbox>

              <ion-text style="font-size: 0.8rem; text-align: justify;">
                He leído y estoy de acuerdo con
                <strong style="color: #0247ac;" (click)="irAterminos()">los términos y condiciones de la compra</strong>
              </ion-text>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/purchase-detail">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <!-- <div style="width: 50%;"></div> -->
    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" (click)="pagar()">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Pagar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>

  </div>
</ion-footer>