<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/LogoViaja.png"
        style="object-fit: scale-down;position: relative; z-index: 10;height: 7vh; margin-top: 0.6rem;margin-left: 8vw;">
    </div>

    <div style="display: inline; width: 10%;text-align: -webkit-right; margin-left: 18px;" (click)="popCart($event)">
      <img src="assets/icon/Carrito-compra.png" style="height: 1.8rem;">
      <ion-badge color="dark" mode="ios" *ngIf="ticket.comprasDetalles && ticket.comprasDetalles.length>0"
        style="position: absolute; left: 81%; top: 5vh; font-size: 0.7rem;opacity: 0.7; background-color: var(--ion-color-secondary);">
        {{ticket.comprasDetalles.length}}</ion-badge>
    </div>

    <div style="display: inline; width: 10%" (click)="popMenu($event)">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Medios de pago
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loading>0" color="secondary"></ion-progress-bar>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: orange">
    <div style=" height: 100%; background-color: white ;">
      <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
        <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center "
          style="height: 100%; padding-top: 0.5rem;">
          <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center; background-color: white;">

            <form (ngSubmit)='validar(forma)' #forma='ngForm' novalidate=''>
              <div style="padding: 0 10vw;">

                <div *ngIf="usuarioLogeado">
                  <div style="font-size: 0.7rem;">Datos obtenidos del perfil</div>
                </div>

                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name='name' type='text' #name='ngModel' minlength='3' maxleng="30"
                    [(ngModel)]="DatosFormulario.name" [disabled]="usuarioLogeado"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Apellido</ion-label>
                  <ion-input name='lastName' type='text' #lastName='ngModel' minlength='3' maxleng="30"
                    [(ngModel)]="DatosFormulario.lastName" [disabled]="usuarioLogeado"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">N° Documento</ion-label>
                  <ion-input name='rut' type='text' placeholder="XXXXXXXXX-X" #rut='ngModel'
                    pattern="^[0-9]+[-|‐]{1}[0-9kK]{1}$" [(ngModel)]="DatosFormulario.rut" (keyup)="onKeyPressedOnRut(forma.controls.rut.valid)" [disabled]="usuarioLogeado"></ion-input>
                </ion-item>
                <div *ngIf="showRutError"
                  style="color:var(--ion-color-secondary); font-size: 0.8rem; border: 1px solid var(--ion-color-secondary);border-radius: 5px; margin: 5px 0">
                  Rut debe ser válido, con guión y sin puntos.
                </div>

                <ion-item *ngIf="!usuarioLogeado">
                  <ion-label position="floating">Móvil</ion-label>
                  <ion-input name='telefono' type='phone' #telefono='ngModel'
                    pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
                    [(ngModel)]="DatosFormulario.telefono"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Email*</ion-label>
                  <ion-input name='email' type='email' #email='ngModel'
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="DatosFormulario.email"
                    type='email' [disabled]="usuarioLogeado"></ion-input>
                </ion-item>

                <ion-item *ngIf="!usuarioLogeado">
                  <ion-label position="floating">Confirme correo*</ion-label>
                  <ion-input name='email2' type='email' #email2='ngModel'
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="DatosFormulario.email2"
                    type='email'></ion-input>
                </ion-item>

              </div>
            </form>


            <!-- Total -->
            <div style="text-align: center;">
              <h2 *ngIf="mostrarTarifaAtachada" style="text-decoration:line-through;color: red;">
                Total: ${{totalSinDscto.toLocaleString('de-DE') }}</h2>
              <h2>Total: ${{totalFinal.toLocaleString('de-DE') }}</h2>
            </div>

            <!-- imagen metodo de pago -->
            <ion-list class=" ion-no-padding ion-no-margin">
              <!-- <ion-radio-group> -->
              <ion-grid fixed class=" ion-no-padding ion-no-margin">
                <ion-row>

                  <ion-col *ngFor="let medioPago of listaMedioPago" class=" ion-no-padding ion-no-margin"
                    style="display: flex; justify-content: center;">

                    <ion-item lines="none">
                      <ion-label style="margin: 0;">

                        <img src="{{ medioPago.Imagen || 'assets/images/MediosDePago/default.jpg'}}"
                          title="{{medioPago.Descripcion}}">
                      </ion-label>
                      <ion-radio mode="md" slot="start" (click)="seleccionadoMedioPago(medioPago.Convenio)"
                        style="margin: 0;" value="{{ medioPago.Convenio }}"></ion-radio>
                    </ion-item>

                  </ion-col>

                </ion-row>
              </ion-grid>
              <!-- </ion-radio-group> -->
            </ion-list>

            <!-- Terminos y condiciones-->
            <div (click)="aceptarAcuerdo()" style="display: flex;margin: 1.5rem;">
              <ion-checkbox name='radio' [(ngModel)]="acuerdo.acuerdo"
                style="min-height: 1rem;min-width: 1rem;margin: 0 2vw;">
              </ion-checkbox>

              <ion-text style="font-size: 0.8rem; text-align: justify;">
                He leído y estoy de acuerdo con
                <strong style="color: #0247ac;" (click)="irAterminos()">los términos y condiciones de la
                  compra</strong>
              </ion-text>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div
    style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/purchase-detail">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <!-- <div style="width: 50%;"></div> -->
    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" type="submit" form="forma"
      (click)="pagar(forma)">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Pagar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>

  </div>
</ion-footer>