<ion-header no-border>
  <div class="cabeceraGeneral">
    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">
      Es
    </div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;"
      (click)="prueba()">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;" (click)="popCart($event)">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
      <ion-badge color="dark" mode="ios" *ngIf="comprasDetalles && comprasDetalles.length>0"
        style="position: absolute; left: 81%; top: 2px; font-size: 0.7rem;opacity: 0.7; background-color: #0247ac;">
        {{comprasDetalles.length}}</ion-badge>
    </div>

    <div style="display: inline; width: 10%" (click)="popMenu($event)">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>
  </div>

  <div class="cabeceraTitulo" style="font-size: 4vh;" *ngIf="way==='go'">
    Pasaje de ida
  </div>
  <div class="cabeceraTitulo" style="font-size: 0.8rem;" *ngIf="way==='go'">
    {{this.ticket.origin.nombre  | titlecase }} a {{this.ticket.destiny.nombre  | titlecase }} {{goDate}}
  </div>

  <div class="cabeceraTitulo" style="font-size: 4vh;" *ngIf="way==='back'">
    Pasaje de regreso
  </div>
  <div class="cabeceraTitulo" style="font-size: 0.8rem;" *ngIf="way==='back'">
    {{this.ticket.destiny.nombre  | titlecase }} a {{this.ticket.origin.nombre  | titlecase }} {{backDate}}
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loadingBus || loadingSeat>0 || loadingService"  color="secondary"></ion-progress-bar>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary);padding: 0">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
        <ion-row style="height: 100%"
          class="ion-no-margin ion-no-padding ion-justify-content-center ">
          <ion-col size="12" style="text-align: center;" class="ion-no-margin ion-no-padding">

            <!-- <ion-row style="position: absolute; z-index: 3; right: 47%; top: -2rem;" *ngIf="loadingService">
              <ion-col size="12">
                <ion-spinner style="color: orangered; " name="circles"></ion-spinner>
              </ion-col>
            </ion-row> -->

            <ion-row *ngIf="!loadingService && allServices.length === 0">
              <ion-col size="12">
                <p> No disponemos de servicios con las características definidas.</p>
                <p>Intente nuevamente con otras características..</p>
              </ion-col>
            </ion-row>


            <!-- Bucle serviciosss -->
            <div style=" font-size: 2vw;padding: 5px 0;margin: 3px 0px;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'"
              *ngFor="let svc of allServices; let i = index;" #divServicio>

              <!-- Servicio -->
              <div style="display:flex; flex-direction: column;">

                <div style="display: flex; flex-direction: row;">
                  <!-- columna 2   -->
                  <div class="myServiceColumn" style="width: 5%;">
                    <div class="myServiceRow" style="height: 1.9rem;"><img src="assets/images/flecha002.png"
                        style="height: 1.5rem;  margin-top: 0.2rem; object-fit: scale-down;"></div>
                    <div class="myServiceRow" style="display: flex; align-items: center; color: gray;">
                      <ion-icon style="font-size: 0.9rem;" name="clock"></ion-icon>
                    </div>
                  </div>

                  <!-- columna 3   -->
                  <div class="myServiceColumn" style="width: 30%;text-align: left; ">
                    <div class="myServiceRow" style="font-weight: bold;">Sal. {{svc.horaSalida}}</div>
                    <div class="myServiceRow">Lle. {{svc.horaLlegada}}</div>
                    <div class="myServiceRow">Dur.
                      {{'X'| duration: svc.fechaSalida : svc.horaSalida : svc.fechaLlegada : svc.horaLlegada}}</div>
                    <!-- <div class="myServiceRow" style="margin-top: 0.2rem;">{{svc.servicioPrimerPiso | titlecase }}</div>
                  <div class="myServiceRow" *ngIf="svc.tarifaSegundoPiso">{{svc.servicioSegundoPiso | titlecase }}</div> -->
                  </div>

                  <!-- columna 4   -->
                  <div class="myServiceColumn" style="width: 60%;text-align: left;">

                    <div style="display: flex; flex-direction: row;">
                      <div class="myServiceRow" style="width:85%; font-weight: bold;">
                        {{svc.terminalSalida  | titlecase }}
                      </div>

                    </div>

                    <div class="myServiceRow">{{svc.terminaLlegada  | titlecase}}</div>
                    <div class="myServiceRow" style="height: 1rem; flex-direction: row;">
                      <div style="width: 70%;">
                        <img src="data:image/png;base64,{{svc.logo}}" style="height: 1rem; border-radius: 3px" />
                      </div>

                    </div>

                  </div>

                  <!-- columna 5   -->
                  <div class="myServiceColumn"
                    style="width: 30%;text-align: left; position: absolute; right: 0; margin-top: 2rem; ">

                    <div *ngIf="svc.my_comprasByService && svc.my_comprasByService.length>0"
                      style=" width: 25%;display: flex;justify-content: flex-end;align-items: center; flex-direction: row; position: absolute; margin-top: -2rem; right: 1rem; font-size: 0.9rem;">

                      <!-- <div>{{svc.my_comprasByService.length}}</div> -->
                      <div style="margin-left: -2px;">
                        <img style="height: 1.5rem;margin-top: 4px;" src="assets/icon/png/Asiento-seleccionado.png" />
                      </div>
                      <div>
                        <ion-icon *ngIf="svc.my_comprasByService.length <5"
                          style="color: blue; margin-top: 2px; margin-left: -1.2rem; font-size: 1.3rem;"
                          name="checkmark"></ion-icon>
                        <ion-icon *ngIf="svc.my_comprasByService.length >4"
                          style="color: red; margin-top: 2px; margin-left: -1.2rem; font-size: 1.3rem;"
                          name="close-circle-outline"></ion-icon>
                      </div>
                    </div>


                    <div class="myServiceRow" style="align-items: center; justify-content: center; ">
                      <ion-button fill="clear" (click)="myServiceSelection(i)" [disabled]="loadingBus"
                        *ngIf="(!svc.checked && !svc.my_comprasByService) ||  (  !svc.checked &&  svc.my_comprasByService && svc.my_comprasByService.length===0)"
                        style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.8rem;width: 90%;">
                        Comprar
                      </ion-button>
                      <ion-button fill="clear" (click)="myServiceSelection(i)" [disabled]="loadingBus"
                        *ngIf="!svc.checked && svc.my_comprasByService && svc.my_comprasByService.length>0"
                        style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.8rem;width: 90%;">
                        Editar
                      </ion-button>
                      <ion-button fill="clear" (click)="myServiceSelection(i)" *ngIf="svc.checked" [disabled]="loadingBus"
                        style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.8rem;width: 90%;">
                        Ocultar
                      </ion-button>
                    </div>

                  </div>
                  <!-- </div> -->
                </div>

              </div>
              <div style="display: flex; flex-direction: row; padding-top: 0.5rem;">
                <!-- columna 1   -->
                <div class="myServiceColumn" style="width: 35%;text-align: left;     padding-left: 1%;">
                  <div class="myServiceRow">
                    <div
                      style="border: 1px solid var(--ion-color-primary);color: var(--ion-color-primary);    width: fit-content; padding: 0 0.5rem; border-radius: 10px; font-size: 0.6rem; font-weight: bold; ">
                      Piso 1</div>
                  </div>
                  <div class="myServiceRow">{{svc.servicioPrimerPiso | titlecase}}</div>
                  <div class="myServiceRow">
                    <div style="display: flex; align-items: center; justify-content: left;">Valor:
                      ${{svc.tarifaPrimerPiso}}</div>
                  </div>
                </div>

                <!-- columna 2   -->
                <div class="myServiceColumn" style="width: 60%;text-align: left;" *ngIf="svc.tarifaSegundoPiso">
                  <div class="myServiceRow">
                    <div
                      style="background-color: var(--ion-color-primary); color: white;width: fit-content; padding: 0 0.5rem; border-radius: 10px; font-size: 0.6rem;">
                      Piso 2</div>
                  </div>
                  <div class="myServiceRow">{{svc.servicioSegundoPiso | titlecase}}</div>
                  <div class="myServiceRow">
                    <div style="display: flex; align-items: center; justify-content: left;">Valor:
                      ${{svc.tarifaSegundoPiso}}</div>
                  </div>
                </div>


              </div>


              <!-- asientos del servicio -->
              <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary)" *ngIf="svc.checked">
                <div style="height: 100%; background-color: white ;margin: 0px 0px 0px
                  0px;">
                  <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
                    <ion-row style="height: 100%" class="ion-no-margin ion-no-padding ion-justify-content-center ">
                      <ion-col size="12" style="height: 100%;text-align: center;"
                        class="ion-no-margin ion-no-padding ion-justify-content-center">

                        <div
                          style="display: flex; flex-direction: row; margin-top: 1vh; height: 100%; max-width: 18rem; margin: 0 auto;">

                          <!-- //* pisos y asientos -->
                          <div style="width: 100vw;">

                            <!-- //* Botones seleccion para piso1 piso2 -->
                            <div style="width: 100%; display: flex;margin-bottom: 0.6rem;">
                              <div style="width: 50%; text-align: -webkit-center;">
                                <div [ngClass]="piso1 ? 'pisoShow' : 'pisoHiden'" (click)="cambiarPiso(1)">
                                  Piso 1
                                </div>
                              </div>
                              <div style="width: 50%; text-align: -webkit-center;" *ngIf="tarifaPiso2">
                                <div [ngClass]="!piso1 ? 'pisoShow' : 'pisoHiden'" (click)="cambiarPiso(2)">
                                  Piso 2
                                </div>
                              </div>
                            </div>

                            <!-- //* piso1 -->
                            <div style="width: 100%;height: 90%; display: flex; align-items: center;" *ngIf="piso1">
                              <div style="width: 100%;">
                                <div style="width: 100%; display: flex;"
                                  *ngFor="let columna of bus['1'] ; let y= index">
                                  <div style="width: 100%; display: flex;"
                                    *ngFor="let asiento of columna ; let x= index">


                                    <ion-button fill="clear" style="margin-left: 4vw; color: var(--ion-color-primary); outline:
                                    none;padding:0;font-size: 0vw; display: contents;"
                                      (click)="presionadoAsiento('1',y,x)"  [disabled]="loadingSeat>0">
                                      <img src="assets/icon/png/Asiento-ocupado.png"
                                        *ngIf="asiento.estado==='ocupado'" />
                                      <img src="assets/icon/png/Asiento-disponible.png"
                                        *ngIf="asiento.estado==='libre'" />
                                      <img src="assets/icon/png/Asiento-seleccionado.png"
                                        *ngIf="asiento.estado==='seleccionado'" />
                                      <ion-text
                                        style="color: red; color: white;position: absolute;font-size: 0.8rem;top: 1rem;font-weight: bold;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                        {{asiento.asiento === "%"? '':asiento.asiento}}
                                      </ion-text>
                                    </ion-button>

                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- //* piso2 -->
                                <div style="width: 100%;height: 100%;" *ngIf="!piso1 && tarifaPiso2">
                              <div style="width: 100%; display: flex;" *ngFor="let columna of bus['2'] ; let y= index">
                                <div style="width: 100%; display: flex;" *ngFor="let asiento of columna ; let x= index">

                                  <ion-button fill="clear" style="margin-left: 4vw; color: var(--ion-color-primary); outline:
                                    none;padding:0;font-size: 0vw;display: contents;"
                                    (click)="presionadoAsiento('2',y,x)"
                                    *ngIf="asiento.estado ==='libre' || asiento.estado ==='ocupado'  || asiento.estado ==='seleccionado'" [disabled]="loadingSeat>0">
                                    <img src="assets/icon/png/Asiento-ocupado.png" *ngIf="asiento.estado==='ocupado'" />
                                    <img src="assets/icon/png/Asiento-disponible.png"
                                      *ngIf="asiento.estado==='libre'" />
                                    <img src="assets/icon/png/Asiento-seleccionado.png"
                                      *ngIf="asiento.estado==='seleccionado'" />
                                    <ion-text
                                      style="color: red; color: white;position: absolute;font-size: 0.8rem;top: 1rem;font-weight: bold;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                      {{asiento.asiento === "%"? '':asiento.asiento}}
                                    </ion-text>
                                  </ion-button>

                                </div>
                              </div>
                            </div> 



                          </div>

                          <!-- //* leyenda -->
                          <!--   <div style="width: 40vw; display: flex;justify-content:
                            center;align-items: center;border-left: 2px solid #f2f2f2;">
                            <div>
                              <div style="display: flex;align-items: center;">
                                <img style="height: 2rem;" src="assets/icon/png/Asiento-disponible.png" />
                                <ion-text style="font-size: 0.8rem;">Disponible</ion-text>
                              </div>
                              <div style="display: flex;align-items: center;">
                                <img style="height: 2rem;" src="assets/icon/png/Asiento-ocupado.png" />
                                <ion-text style="font-size: 0.8rem;">Ocupado</ion-text>
                              </div>
                              <div style="display: flex;align-items: center;">
                                <img style="height: 2rem;" src="assets/icon/png/Asiento-seleccionado.png" />
                                <ion-text style="font-size: 0.8rem;">Seleccionado</ion-text>
                              </div>
                            </div>
                          </div> -->

                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>

            </div>



          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>

  <!-- 1ra fila menu -->
  <div style="width: 100%; display: flex;justify-content: space-around;">

    <ion-button fill="clear" (click)="atras()"
      style="color: var(--ion-color-primary); outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;">
      <ion-icon src="assets/icon/previous.svg" style="color: var(--ion-color-primary);font-size: 2.5vw;padding: 3px;">
      </ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 1rem; font-weight: bold;">
        Regresar
      </div>
    </ion-button>

    <div class="divSelectMenu">
      <ion-select multiple="false" placeholder="&#8597; Ordenar" class="selectMenu"
        [interfaceOptions]="orderWindowsDetail" (ionChange)="orderCambio()" [(ngModel)]="orderSelected"
        (ionFocus)="orderShowActive = true" (ionCancel)="orderShowActive = false">
        <ion-select-option value="" *ngIf="!orderShowActive">&#8597; Ordenar</ion-select-option>
        <ion-select-option value="precioAsc">&#8593; Precio</ion-select-option>
        <ion-select-option value="precioDsc">&#8595; Precio</ion-select-option>
        <ion-select-option value="origenAsc">&#8593; Origen</ion-select-option>
        <ion-select-option value="origenDsc">&#8595; Origen</ion-select-option>
        <ion-select-option value="destinoAsc">&#8593; Destino</ion-select-option>
        <ion-select-option value="destinoDsc">&#8595; Destino</ion-select-option>
        <ion-select-option value="horaAsc">&#8593; Hora</ion-select-option>
        <ion-select-option value="horaDsc">&#8595; Hora</ion-select-option>
        <ion-select-option value="empresaAsc">&#8593; Empresa</ion-select-option>
        <ion-select-option value="empresaDsc">&#8595; Empresa</ion-select-option>
      </ion-select>
    </div>

    <div class="divSelectMenu">
      <ion-select multiple="false" placeholder="&#8597; Filtrar" class="selectMenu"
        [interfaceOptions]="filterWindowsDetail" (ionChange)="orderCambio()" [(ngModel)]="filterSelected"
        (ionFocus)="filterShowActive = true" (ionCancel)="filterShowActive = false">
        <ion-select-option value="" *ngIf="!filterShowActive">&#8597; Filtrar</ion-select-option>
        <ion-select-option value="precio">Precio</ion-select-option>
        <ion-select-option value="horario">Horario</ion-select-option>
        <ion-select-option value="promociones">Promociones</ion-select-option>
      </ion-select>
    </div>

    <!-- <ion-button fill="clear" style="color: var(--ion-color-primary); outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;">
      <ion-icon name="md-repeat" style="transform: rotate(90deg); color: var(--ion-color-primary);font-size: 5vw;"></ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 1rem;font-weight:bold">
        Ordenar
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: var(--ion-color-primary); outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;"
      (click)="prueba()">
      <ion-icon name="md-code-download" style="color: var(--ion-color-primary);font-size: 5vw;padding: 1px;"></ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 1rem;font-weight:bold">
        Filtros
      </div>
    </ion-button> -->

    <ion-button fill="clear" style="color: var(--ion-color-primary); outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;"
      *ngIf="tarifaTotal == 0" (click)="continuar()">

      <div style="display: inline;  text-align: left; text-transform: none;font-size: 1rem;font-weight:bold">
        Continuar
      </div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg); color: var(--ion-color-primary);font-size: 3vw;">
      </ion-icon>
    </ion-button>

  </div>


  <!-- 2da Fila menu -->
  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);"
    *ngIf="tarifaTotal &&  tarifaTotal !== 0">
    <div
      style="width: 50%;display: inline;  text-align: left;padding-right: 7px;  text-transform: none;padding-left: 20px;font-size: 1.3rem;color: white;font-weight: bold; ">
      Total: ${{tarifaTotal.toLocaleString('de-DE') }}
    </div>

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" (click)="continuar()">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none;font-size: 1rem; font-weight: bold;">
        Continuar
      </div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 2.5vw;"></ion-icon>
    </ion-button>
  </div>


</ion-footer>