<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>

  <div class="cabeceraTitulo">
    Contacto
  </div>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: orange">
    <div style=" height: 100%; background-color: white ;padding: 20px; margin: 0px 10px 0px 10px;">
      <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
        <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center" style="height: 100%">
          <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center;">


 


            <ion-row>
              <ion-text color="primary">
                <h6>Centro de Ayuda</h6>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="color: gray;font-size: 11px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </ion-text>
            </ion-row>

            <ion-row>
              <ion-text color="primary">
                <h6>Contacta a nuestro equipo de servicio al cliente.</h6>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="color: gray;font-size: 11px;">
                Vestibulum facilisis quam ut nulla laoreet consequat
              </ion-text>
            </ion-row>

            <ion-row>
              <ion-button
                style=" width: -webkit-fill-available; text-transform: none; margin-top: 30px;">
                <ion-icon name="call" style="    margin-right: 10px;"></ion-icon>Llamar
              </ion-button>
            </ion-row>



          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer no-border style=" width: 100vw;background-color: var(--ion-color-primary);color: white;">
    <div style="width: 100%; display: flex;justify-content: center;">
  
      <ion-button slot="start" fill="clear" style="color: white; width: 50%; outline: none;" routerLink="/home">
        <ion-icon src="assets/icon/previous.svg"></ion-icon>
        <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
      </ion-button>
  
      <div style="width: 50%;"> </div>
  
    </div>
  </ion-footer>