<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;" (click)="popCart($event)">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
      <ion-badge color="dark" mode="ios" *ngIf="ticket.comprasDetalles && ticket.comprasDetalles.length>0"
        style="position: absolute; left: 81%; top: 2px; font-size: 0.7rem;opacity: 0.7; background-color: #0247ac;">
        {{ticket.comprasDetalles.length}}</ion-badge>
    </div>

    <div style="display: inline; width: 10%" (click)="popMenu($event)">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>

  <div class="cabeceraTitulo">
    Detalles de Compra
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loading"  color="secondary"></ion-progress-bar>

</ion-header>


<ion-content>

  <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary);padding:0;">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;" class="ion-no-padding ion-no-margin ion-justify-content-center  ">
        <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center  " style="height: 100%">
          <ion-col size="12" style="text-align: center;"
            class="ion-no-padding ion-no-margin ion-justify-content-center  ">



            <!-- Presione continuar para seleccionar detalles de regreso -->
            <div style="background-color: #0247ac; color: white;" *ngIf="ticket.tripType==='goBack' && way==='go'">
              Presione continuar para seleccionar pasajes de regreso
            </div>

            <!-- TOTAL -->
            <div style="width: 100%;">
              <div
                style="padding: 1vh 0px;margin: 0rem  6rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                Total:
                ${{ tarifaTotal.toLocaleString('de-DE')}}
              </div>
            </div>



            <!-- bucle PASAJES  -->
            <div *ngFor="let pasaje of this.ticket.comprasDetalles; let i= index"
              style="width: 100%;margin: 1vh 0; padding: 2vh 0;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">

              <div>

                <!-- //* linea1 -->
                <div style="width: 100%; display: flex;  font-size: 0.8rem;">

                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Boleto</div>
                    <div>{{pasaje.idServicio}}</div>
                  </div>
                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Asiento</div>
                    <div>{{pasaje.asiento}}</div>
                  </div>

                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Valor</div>
                    <div>${{pasaje.valor.toLocaleString('de-DE')}}</div>
                  </div>

                </div>

                <!-- //* linea2 -->
                <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;" *ngIf="pasaje.way==='go'">
                    Ida
                  </div>
                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;" *ngIf="pasaje.way==='back'">
                    Regreso
                  </div>

                  <div
                    style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: black; ">
                    <div>Salida:{{pasaje.service.fechaSalida}}</div>
                  </div>

                  <div
                    style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: black; ">
                    <div>Llegada:{{pasaje.service.fechaLlegada}}</div>
                  </div>

                </div>

                <!-- //* linea3 -->
                <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                  <div style=" width: 33%;display: flex; justify-content: center; align-items: center;">
                    <ion-icon style="font-size: 2.8rem; color:#4c4c4c" name="bus"></ion-icon>
                  </div>

                  <div
                    style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                    <div style="font-size: 1.2rem;">{{pasaje.service.horaSalida | hh2ampm}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='go'">{{ticket.origin.nombre}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='back'">{{ticket.destiny.nombre}}</div>
                    <div style="font-size: 0.7rem;font-weight: bold;">{{pasaje.service.terminalSalida}}</div>
                  </div>

                  <div style=" width: 10%; display: flex;align-items: center;justify-content: center;font-size: 6vw;">
                    <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg); color: #4c4c4c;">
                    </ion-icon>
                  </div>

                  <div
                    style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                    <div style="font-size: 1.2rem;">{{pasaje.service.horaLlegada | hh2ampm}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='go'">{{ticket.destiny.nombre}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='back'">{{ticket.origin.nombre}}</div>
                    <div style="font-size: 0.7rem;font-weight: bold;">{{pasaje.service.terminaLlegada}}</div>
                  </div>

                </div>

                <!-- //* linea4 -->
                <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;">
                    <div style="font-size: 0.7rem;">Duración</div>
                    <div style="font-size: 0.8rem;font-weight: bold;">
                      {{'X'| duration: pasaje.service.fechaSalida : pasaje.service.horaSalida : pasaje.service.fechaLlegada : pasaje.service.horaLlegada}}
                    </div>
                  </div>

                  <div
                    style=" width: 66%; display: flex; justify-content: center; align-items: center;padding-top: 0.5rem; ">
                    <ion-button fill="clear"
                      (click)="EliminarPasaje(pasaje.way, pasaje.idServicio, pasaje.asiento, pasaje.fila, pasaje.columna,pasaje.piso)"
                      style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0f69ec;text-transform: none; font-size: 0.8rem;width: 9rem;max-height: 2rem;">
                      Eliminar pasaje
                    </ion-button>  
                  </div>

                </div>

              </div>
            </div>




            <!-- IDA -->
            <!-- <div style="width: 100%;margin: 1vh 0; padding: 2vh 0; background-color: #f2f2f2;"
              *ngIf="ticket['goTotal']">

              //* linea1
              <div style="width: 100%; display: flex;  font-size: 0.8rem;">

                <div
                  style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                  <div>Pasajes</div>
                  <div>{{ticket.goCompras.length}}</div>
                </div>
                <div
                  style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                  <div>Asientos</div>
                  <div>{{ticket.goCompras}}</div>
                </div>

                <div
                  style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                  <div>Valor</div>
                  <div>${{ticket.goTotal.toLocaleString('de-DE')}}</div>
                </div>

              </div>

              //* linea2
              <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;">Ida</div>

                <div
                  style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: black; ">
                  <div>Salida:{{ticket.goService.fechaSalida}}</div>
                </div>

                <div
                  style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: black; ">
                  <div>Llegada:{{ticket.goService.fechaLlegada}}</div>
                </div>

              </div>

              //* linea3
              <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                <div style=" width: 33%;display: flex; justify-content: center; align-items: center;">
                  <ion-icon style="font-size: 2.8rem; color:#4c4c4c" name="bus"></ion-icon>
                </div>

                <div
                  style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 1.2rem;">{{ticket.goService.horaSalida | hh2ampm}}</div>
                  <div style="font-size: 0.7rem;">{{ticket.origin.nombre}}</div>
                  <div style="font-size: 0.7rem;font-weight: bold;">{{ticket.goService.terminalSalida}}</div>
                </div>

                <div style=" width: 10%; display: flex;align-items: center;justify-content: center;font-size: 6vw;">
                  <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg); color: #4c4c4c;">
                  </ion-icon>
                </div>

                <div
                  style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 1.2rem;">{{ticket.goService.horaLlegada | hh2ampm}}</div>
                  <div style="font-size: 0.7rem;">{{ticket.destiny.nombre}}</div>
                  <div style="font-size: 0.7rem;font-weight: bold;">{{ticket.goService.terminaLlegada}}</div>
                </div>

              </div>

              //* linea4
              <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;">
                  <div style="font-size: 0.7rem;">Duración</div>
                  <div style="font-size: 0.8rem;font-weight: bold;">
                    {{'X'| duration: ticket.goService.fechaSalida : ticket.goService.horaSalida : ticket.goService.fechaLlegada : ticket.goService.horaLlegada}}
                  </div>
                </div>

                <div
                  style=" width: 66%; display: flex; justify-content: center; align-items: center;padding-top: 0.5rem; ">
                  <ion-button fill="clear" (click)="EliminarPasajeIda()"
                    style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.6rem;width: 6rem;max-height: 1rem;">
                    Eliminar pasaje
                  </ion-button>
                </div>

              </div>

            </div> -->


            <!-- REGRESO -->
            <!-- <div style="width: 100%;margin: 1vh 0; padding: 2vh 0;background-color: #0247ac;"
              *ngIf="ticket.backCompras && ticket.backCompras.length !== 0">

              //* linea1
              <div style="width: 100%; display: flex;  font-size: 0.8rem;">

                <div
                  style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                  <div>Pasajes</div>
                  <div>{{ticket.backCompras.length}}</div>
                </div>
                <div
                  style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                  <div>Asientos</div>
                  <div>{{ticket.backCompras}}</div>
                </div>

                <div
                  style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                  <div>Valor</div>
                  <div>${{(ticket.backTotal-ticket.goTotal).toLocaleString('de-DE')}}</div>
                </div>

              </div>

              //* linea2
              <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                <div style=" width: 33%;text-align: -webkit-center; font-weight: bold; color: white; ">Regreso</div>

                <div
                  style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: white; ">
                  <div>Salida:{{ticket.backService.fechaSalida}}</div>
                </div>

                <div
                  style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: white; ">
                  <div>Llegada:{{ticket.backService.fechaLlegada}}</div>
                </div>

              </div>

              //* linea3
              <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                <div style=" width: 33%;display: flex; justify-content: center; align-items: center;">
                  <ion-icon style="font-size: 2.8rem; color: white" name="bus"></ion-icon>
                </div>

                <div
                  style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: white;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 1.2rem;">{{ticket.backService.horaSalida | hh2ampm}}</div>
                  <div style="font-size: 0.7rem;">{{ticket.origin.nombre}}</div>
                  <div style="font-size: 0.7rem;font-weight: bold;">{{ticket.backService.terminalSalida}}</div>
                </div>

                <div style=" width: 10%; display: flex;align-items: center;justify-content: center;font-size: 6vw;">
                  <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg); color: white;">
                  </ion-icon>
                </div>

                <div
                  style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: white;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 1.2rem;">{{ticket.backService.horaLlegada | hh2ampm}}</div>
                  <div style="font-size: 0.7rem;">{{ticket.destiny.nombre}}</div>
                  <div style="font-size: 0.7rem;font-weight: bold;">{{ticket.backService.terminaLlegada}}</div>
                </div>

              </div>

              //* linea4
              <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                <div style=" width: 33%;text-align: -webkit-center; font-weight: bold; color: white;">
                  <div style="font-size: 0.7rem;">Duración</div>
                  <div style="font-size: 0.8rem;font-weight: bold;">
                    {{'X'| duration: ticket.backService.fechaSalida : ticket.backService.horaSalida : ticket.backService.fechaLlegada : ticket.backService.horaLlegada}}
                  </div>
                </div>

                <div
                  style=" width: 66%; display: flex; justify-content: center; align-items: center;padding-top: 0.5rem; ">
                  <ion-button fill="clear" (click)="EliminarPasajeRegreso()"
                    style="color: #0247ac; outline: none;  --padding-start: 0;--padding-end: 0; --background: white;text-transform: none; font-size: 0.6rem;width: 6rem;max-height: 1rem;">
                    Eliminar pasaje
                  </ion-button>
                </div>

              </div>



            </div> -->





          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>


<ion-footer>

  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">

    <!-- <div
      style="width: 50%;display: inline;  text-align: left;padding-right: 7px;  text-transform: none;padding-left: 20px;font-size: 1.2rem;color: white;font-weight: bold; ">
      Total:
      ${{ ticket.backTotal ? (ticket.backTotal).toLocaleString('de-DE') :ticket.goTotal.toLocaleString('de-DE')}}
    </div> -->

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" (click)="volver()">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline;  text-align: right;padding-right: 7px; padding-left: 7px; text-transform: none">
        Volver</div>
    </ion-button>

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" (click)="continuar()">
      <div
        style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none;font-size: 1rem; font-weight: bold;">
        Continuar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 2.5vw;"></ion-icon>
    </ion-button>

  </div>
</ion-footer>