<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>
e
    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Usuario
  </div>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary);padding: 0px 3vw;">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;">
        <ion-row justify-content-center align-items-center style="height: 100%">





          <ion-col size="12" style="text-align: center;">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="ios-person" style="font-size: 15vh;color: var(--ion-color-primary);"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div style="margin-bottom: 5px; "><input placeholder="Correo electrónico" /></div>
                <div style="margin-bottom: 5px; "><input placeholder="Contraseña" type="password" /></div>
                <div style="display: inline; font-size: 3vw;">Registro</div>
                <div style="display: inline;font-size: 3vw;padding-left: 20vw;">¿Olvidó su contraseña?</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style="margin-top: 6vh; margin-bottom: 6vh;"><input type="button" class="ingresar"
                  value="Ingresar" routerLink="/user-panel" /></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style=" font-size: 14px;">Call Center 600 600 00 18</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style="color: #f2f2f2; font-size: 10px;">
                <div>Conoce tus derechos</div>
                <div>Términos y condiciones del pasaje</div>
                <div>Politica de privacidad</div>
              </ion-col>
            </ion-row>
          </ion-col>




        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <div style="width: 100%; display: flex;justify-content: center;">

    <ion-button slot="start" fill="clear" style="color: white; width: 50%; outline: none;" routerLink="/">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <div style="width: 50%;"> </div>

  </div>
</ion-footer>