<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/LogoViaja.png"
        style="object-fit: scale-down;position: relative; z-index: 10;height: 7vh; margin-top: 0.6rem;margin-left: 8vw;">
    </div>

    <div style="display: inline; width: 10%;">
      <img src="assets/icon/Carrito-compra.png" style="height: 1.8rem;">
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Mis datos
  </div>

</ion-header>


<ion-content>
  <div style="height: 100%; width: 100%;background-color: var(--ion-color-primary);padding: 0px 3vw">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;">
        <ion-row class=" ion-justify-content-center  ion-align-items-center" style="height: 100%">
          <ion-col size="12" style="text-align: center;">

            <form (ngSubmit)='validar(forma)' #forma='ngForm' novalidate=''>

              <ion-row>
                <ion-col size="12">
                  <ion-icon name="ios-person" style="font-size: 15vh;color: var(--ion-color-primary);"></ion-icon>
                  <ion-text color="primary">
                    <h6>Carlos Pérez</h6>
                  </ion-text>
                </ion-col>
              </ion-row>

              <ion-row>

                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('rut')" placeholder="RUT"  type="text" name="rut" pattern=""  [(ngModel)]="myData.rut" required #rut></ion-input>
                  </div>
                </ion-col>

                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('nombre')" placeholder="RUT"  type="text" name="nombre" pattern="" #nombre [(ngModel)]="myData.nombre" required></ion-input>
                  </div>
                </ion-col>
              </ion-row>


              <ion-row>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('apellidoPaterno')" placeholder="apellidoPaterno"  type="text" name="apellidoPaterno" pattern="" #apellidoPaterno [(ngModel)]="myData.apellidoPaterno" required></ion-input>
                  </div>
                </ion-col>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('apellidoMaterno')" placeholder="apellidoMaterno"  type="text" name="apellidoMaterno" pattern="" #apellidoMaterno [(ngModel)]="myData.apellidoMaterno" required></ion-input>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>

                <ion-col class=" ion-no-padding ion-no-margin" size="6" class="columnaDoble"
                  style="padding-left: 8px;padding-right: 3px;font-size: 80%;">
                  <div style="display: inline-block;width: 30%;">

                    <ion-select class=" ion-no-padding ion-no-margin" multiple="false" placeholder="d" 
                      cancel-text="Cancelar">
                      <ion-select-option value="{{i+1}}" *ngFor="let dummy of ' '.repeat(31).split(''), let i = index">
                        {{i+1}}</ion-select-option>
                    </ion-select>

                  </div>
                  <div style="display: inline-block;width: 30%;">
                    <ion-select class=" ion-no-padding ion-no-margin" multiple="false" placeholder="m"
                      cancel-text="Cancelar">
                      <ion-select-option value="{{i+1}}" *ngFor="let dummy of ' '.repeat(12).split(''), let i = index">
                        {{i+1}}</ion-select-option>
                    </ion-select>
                  </div>
                  <div style="display: inline-block;width: 40%;">
                    <ion-select class=" ion-no-padding ion-no-margin" multiple="false" placeholder="aaaa" 
                      cancel-text="Cancelar">
                      <ion-select-option value="{{i+1+1900}}"
                        *ngFor="let dummy of ' '.repeat(120).split(''), let i = index">{{i+1+1900}}</ion-select-option>
                    </ion-select>
                  </div>

                </ion-col>

                <ion-col size="6" class="columnaDoble">
                  <ion-row>
                    <div style="display: inline-block;width: 10%;">
                      <ion-checkbox mode="ios"></ion-checkbox>
                    </div>
                    <div style="display: inline-block;width: 40%; font-size: 3vw;">Femenino</div>
                    <div style="display: inline-block;width: 10%;">
                      <ion-checkbox mode="ios"></ion-checkbox>
                    </div>
                    <div style="display: inline-block;width: 40%; font-size: 3vw;">Masculino</div>
                  </ion-row>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('email')" placeholder="email"  type="email" name="email" pattern="" #email [(ngModel)]="myData.email" required></ion-input>
                  </div>
                </ion-col>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('ocupacion')" placeholder="ocupacion"  type="text" name="ocupacion" pattern="" #ocupacion [(ngModel)]="myData.ocupacion" required></ion-input>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('telefono')" placeholder="telefono"  type="phone" name="telefono" pattern="" #telefono [(ngModel)]="myData.telefono" required></ion-input>
                  </div>
                </ion-col>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('celular')" placeholder="celular"  type="phone" name="celular" pattern="" #celular [(ngModel)]="myData.celular" required></ion-input>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('region')" placeholder="region"  type="text" name="region" pattern="" #region [(ngModel)]="myData.region" required></ion-input>
                  </div>
                </ion-col>
                <ion-col size="6" class="columnaDoble">
                  <div class="overIonInput">
                    <ion-input (keyup)="myKeyUp('ciudad')" placeholder="ciudad"  type="text" name="ciudad" pattern="" #ciudad [(ngModel)]="myData.ciudad" required></ion-input>
                  </div>
                </ion-col>
              </ion-row>



              <ion-row>
                <ion-col size="12" style="margin-top: 2vh; margin-bottom: 2vh;"><input type="button" class="ingresar"
                    value="Guardar cambios" type="submit"  /></ion-col>
              </ion-row>

            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div
    style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/user-panel">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/user-panel">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Continuar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>

  </div>
</ion-footer>