<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Anulación de boletos
  </div>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: orange">
    <div style=" height: 100%; background-color: white ;padding: 20px;">
      <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
        <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center" align-items-center style="height: 100%">
          <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center;">










            <ion-row>
              <ion-text color="primary">
                <p>Debe seleccionar el o los boletos que desea anula. La anulación debe ser realizada por lo menos 4 hrs
                  antes de la salida del servicio</p>
              </ion-text>
            </ion-row>


            <ion-row>
              <ion-col size="6">
                <ion-input type="text" placeholder="Código de transacción"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-button style="width: -webkit-fill-available; transform: none;">
                  Consultar
                </ion-button>
              </ion-col>
            </ion-row>

            <div style="background-color: #f2f2f2; width: 100%; margin-top: 5vh;">
              <ion-row no-margin no-paddingclass=" ion-justify-content-center  ion-align-items-center" style="height: 5vh;">
                <div style="display: inline-block;width: 15%; font-size: 3vw;">Boleto</div>
                <div style="display: inline-block;width: 15%; font-size: 3vw;">Fecha</div>
                <div style="display: inline-block;width: 15%; font-size: 3vw;">Hr.salida</div>
                <div style="display: inline-block;width: 15%; font-size: 3vw;">Origen</div>
                <div style="display: inline-block;width: 15%; font-size: 3vw;">Destino</div>
                <div style="display: inline-block;width: 15%; font-size: 3vw;">Asiento</div>
                <div style="display: inline-block;width: 10%; font-size: 3vw;">Valor</div>
              </ion-row>
              <ion-row no-margin no-paddingclass=" ion-justify-content-center  ion-align-items-center" style="height: 4vh;">
                <div style="display: inline-block;width: 15%; font-size: 2vw;">XDALAWF125</div>
                <div style="display: inline-block;width: 15%; font-size: 2vw;">22/11/2019</div>
                <div style="display: inline-block;width: 15%; font-size: 2vw;">23:50</div>
                <div style="display: inline-block;width: 15%; font-size: 2vw;">Term. sur</div>
                <div style="display: inline-block;width: 15%; font-size: 2vw;">Concepción</div>
                <div style="display: inline-block;width: 15%; font-size: 2vw;">9</div>
                <div style="display: inline-block;width: 10%; font-size: 2vw;">$7.700</div>
              </ion-row>
            </div>


            <ion-row>
              <ion-text color="primary">
                <p>* Si la compra se Realizó con tarjeta de crédito, se generará una reversa en su cuenta, si se realizó
                  con tarjeta de débito, se realizaréá una transferencia a la cuenta que entregue para este fin. La
                  devolucion o reversa se hará en un plazo máximo de 6 días hábiles.</p>
              </ion-text>
            </ion-row>


            <ion-row>
              <ion-col size="6">
                <ion-input type="text" placeholder="Código de transacción"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-button style="width: -webkit-fill-available; transform: none;">
                  Anular
                </ion-button>
              </ion-col>
            </ion-row>






          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>


<ion-footer>
    <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">

        <ion-button fill="clear" style="color: white;  width: 50%; outline: none;"  routerLink="/user-panel">
          <ion-icon src="assets/icon/previous.svg"></ion-icon>
          <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
        </ion-button>

        <!-- <div style="width: 50%;"></div> -->
          <ion-button fill="clear" style="color: white;  width: 50%; outline: none;"  routerLink="/user-panel">
          <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Continuar</div>
          <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
        </ion-button>
  
      </div>
</ion-footer>