<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/LogoViaja.png"
        style="object-fit: scale-down;position: relative; z-index: 10;height: 7vh; margin-top: 0.6rem;margin-left: 8vw;">
    </div>

    <div style="display: inline; width: 10%;">
      <img src="assets/icon/Carrito-compra.png" style="height: 1.8rem;">
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Cambiar contraseña
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loading" color="secondary"></ion-progress-bar>

</ion-header>

<ion-content style="border-left: 3vw solid var(--ion-color-primary);border-right: 3vw solid var(--ion-color-primary);">
  <div style="width: 100%; background-color: var(--ion-color-primary)">
    <div style=" height: 75vh; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;">
        <ion-row class=" ion-justify-content-center  " style="height: 100%">
          <ion-col size="12" style="text-align: center;">
            <form (ngSubmit)='validar(forma)' #forma='ngForm' novalidate=''>

              <ion-row  no-padding>
                <ion-col size="12">
                  <ion-icon name="ios-person" style="font-size: 15vh;color: var(--ion-color-primary); margin-bottom: -2vh;"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" style="font-size: 1.5rem;margin-bottom: 2vh;"> {{nombre | titlecase}} </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <div class="overIonInput">
                    <ion-input placeholder="vieja password" type="password" [disabled]='loading' name="password"
                      minlength='4' #password [(ngModel)]="myData.password" required></ion-input>
                  </div>

                  <div class="overIonInput">
                    <ion-input placeholder="nueva password" type="password" [disabled]='loading' name="nuevaPassword"
                      minlength='4' #nuevaPassword [(ngModel)]="myData.nuevaPassword" required>
                    </ion-input>
                  </div>

                  <div class="overIonInput">
                    <ion-input placeholder="Repita nueva password" [disabled]='loading' type="password"
                      name="nuevaPasswordReperida" minlength='4' #nuevaPasswordReperida
                      [(ngModel)]="myData.nuevaPasswordReperida" required></ion-input>
                  </div>

                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <input type="submit" class="ingresar" value="Enviar" [disabled]='loading' />
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" style=" font-size: 14px;">
                  <div style="margin: 2vh; font-size: 1rem; font-weight: bold;">Call Center 600 600 00 18</div>
                  <div>Conoce tus derechos</div>
                  <div>Términos y condiciones del pasaje</div>
                  <div>Politica de privacidad</div>
                </ion-col>
              </ion-row>



            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div
    style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/user-panel">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <!-- <ion-icon src="assets/icon/asiento.svg" style="color: white;"></ion-icon> -->
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <div style="width: 50%;"></div>
    <!-- <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/payment-methods">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Continuar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button> -->

  </div>
</ion-footer>