<ion-header no-border>
  <div class="cabeceraGeneral">
    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid
      1px;margin: 5px;">
      Es
    </div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height:
        100%;height: 5vh;">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>
  </div>

  <div class="cabeceraTitulo">
    Selección de asiento ida
  </div>


</ion-header>

<ion-content>

  <!-- servicio elegido -->
  <div style="background-color: #f2f2f2; font-size: 2vw;padding: 5px 0;color:
  black; width: 100%;">
    <!-- 1ra fila -->
    <div style="width: 100%; display: flex;">
      <div style="display: inline; width: 15%; font-weight: bold;">
        <div style="display: flex;justify-content: center;align-items: center;
        font-weight: bold;font-size: 2.3vw;height: 100%;">
          Ida
        </div>
      </div>
      <div style="display: inline; width: 10%;">
        <div style="background-color: white; border: 2px solid
        var(--ion-color-primary);border-radius: 3px;display: flex;justify-content:
        center;align-items: center; color:var(--ion-color-primary); font-weight:
        bold;font-size: 2.3vw;height: 100%;margin: 0px 1px 0px 5px;">
          Piso 1
        </div>
      </div>
      <div style="display: inline; width: 15%; text-align: left;">
        <div>{{nowService.servicioPrimerPiso | titlecase}}</div>
        <div style="font-weight: bold;">
          Valor: ${{nowService.tarifaPrimerPiso}}
        </div>
      </div>
      <div style="display: inline; width: 10%;">
        <div *ngIf="nowService.tarifaSegundoPiso" style="background-color: var(--ion-color-primary); border-radius: 3px;display:
        flex;justify-content: center;align-items: center; color:white;
        font-weight: bold;font-size: 2.3vw; height: 100%; margin: 0px 1px 0px
        5px;">
          Piso 2
        </div>
      </div>
      <div style="display: inline; width: 15%; text-align: left;">
        <div *ngIf="nowService.tarifaSegundoPiso">
          {{nowService.servicioSegundoPiso | titlecase}}
        </div>
        <div *ngIf="nowService.tarifaSegundoPiso" style="font-weight: bold;">
          Valor: ${{nowService.tarifaSegundoPiso}}
        </div>
      </div>
      <div style="display: inline; width: 10%;"></div>
      <div style="display: inline; width: 25%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 1.8vw">
          <img src="assets/images/Logo_003.jpg" style="width:
          90%;border-radius: 2px;" />
        </div>
      </div>
    </div>

    <!-- 2da fila -->
    <div style="width: 100%; display: flex;">
      <div style="display: inline; width: 15%; color: red;">
        <div style="display: flex;justify-content: center;align-items: center;
        font-weight: bold;font-size: 2.3vw;height: 100%;">
          25
          <ion-icon style="font-size: 12px;" src="assets/icon/Porcentaje003.svg"></ion-icon>
        </div>
      </div>
      <div style="display: inline; width: 85%;"></div>
    </div>

    <!-- 3ra fila -->
    <div style="width: 100%; display: flex;">
      <div style="display: inline; width: 15%; text-align: center;">
        <ion-icon style="font-size: 12px; color: red; font-size: 6vw;" name="bus"></ion-icon>
      </div>
      <div style="display: inline; width: 15%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 2.3vw">
          {{this.ticket.origin.nombre | titlecase }}
        </div>
      </div>
      <div style="display: inline; width: 10%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 1.8vw">
          {{nowService.horaSalida | hh2ampm}}
        </div>
      </div>
      <div style="display: inline; width: 20%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 1.8vw">
          <img src="assets/images/flecha001.png" style="width: 85%;" />
        </div>
      </div>
      <div style="display: inline; width: 20%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 2.3vw">
          {{this.ticket.destiny.nombre | titlecase }}
        </div>
      </div>
      <div style="display: inline; width: 10%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 1.8vw">
          {{nowService.horaLlegada | hh2ampm }}
        </div>
      </div>
      <div style="display: inline; width: 10%;">
        <div style="display: flex;align-items: center; font-size: 2vw;height:
        100%;font-size: 1.8vw">
          <!-- <ion-checkbox mode="ios" [(ngModel)]="allServices[i].checked" (click)="myseleccion(i)"> -->
          <!-- </ion-checkbox> -->
        </div>
      </div>
    </div>

    <!-- 4ta fila -->
    <div style="width: 100%; display: flex;">
      <div style="display: inline; width: 15%;"></div>
      <div style="display: inline; width: 25%;text-align: left;">
        Origen: {{nowService.terminalSalida | titlecase }}
      </div>
      <div style="display: inline; width: 20%;"></div>
      <div style="display: inline; width: 30%;text-align: left;">
        Destino final: {{nowService.terminaLlegada | titlecase}}
      </div>
      <div style="display: inline; width: 10%;"></div>
    </div>

    <!-- 5ta fila -->
    <div style="width: 100%; display: flex;">
      <div style="display: inline; width: 15%;">
        <div style="display: flex;justify-content: center;align-items: center;
        font-weight: bold;font-size: 2.3vw;height: 100%;flex-direction:
        column;">
          <ion-icon style="font-size: 12px;" name="clock"></ion-icon>
          {{'X'| duration: nowService.fechaSalida : nowService.horaSalida :
        nowService.fechaLlegada : nowService.horaLlegada}}
        </div>
      </div>
      <div style="display: inline; width: 85%;"></div>
    </div>

    <!-- 6ta fila -->
    <div style="width: 100%; display: flex;">
      <div style="display: inline; width: 15%;"></div>
      <div style="display: inline; width: 5%;">
        <ion-icon style="font-size: 12px;" name="calendar"></ion-icon>
      </div>
      <div style="display: inline; width: 80%; display: flex;align-items:
      center;font-size: 2.3vw;">
        {{nowService.fechaSalida | date2line }}
        <!-- Miercoles 13 de Noviembre 2019 -->
      </div>
    </div>
  </div>

  <!-- seleccion de asientos -->
  <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary)">
    <div style="height: 100%; background-color: white ;margin: 0px 0px 0px
      0px;">
      <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
        <ion-row style="height: 100%" class="ion-no-margin ion-no-padding ion-justify-content-center
          ion-align-items-center">
          <ion-col size="12" style="height: 100%;text-align: center;"
            class="ion-no-margin ion-no-padding ion-justify-content-center">

            <div
              style="display: flex; flex-direction: row; margin-top: 1vh; height: 100%; max-width: 25rem; margin: 0 auto;">

              <!-- pisos y asientos -->
              <div style="width: 60vw;">

                <!-- Botones seleccion para piso1 piso2 -->
                <div style="width: 100%; display: flex;">
                  <div style="width: 50%; text-align: -webkit-center;">
                    <div [ngClass]="piso1 ? 'pisoShow' : 'pisoHiden'" (click)="cambiarPiso(1)">
                      Piso 1
                    </div>
                  </div>
                  <div style="width: 50%; text-align: -webkit-center;">
                    <div [ngClass]="!piso1 ? 'pisoShow' : 'pisoHiden'" (click)="cambiarPiso(2)">
                      Piso 2
                    </div>
                  </div>
                </div>

                <!-- piso1 -->
                <div style="width: 100%;height: 90%; display: flex; align-items: center;" *ngIf="piso1">
                  <div style="width: 100%;">
                    <div style="width: 100%; display: flex;" *ngFor="let columna of bus['1'] ; let x= index">
                      <div style="width: 100%; display: flex;" *ngFor="let asiento of columna ; let y= index">
                        <!-- [style.width]="( asiento.estado ==='libre' || asiento.estado ==='ocupado'  || asiento.estado ==='seleccionado')? '100%':'50%'" -->


                        <ion-button fill="clear" style="margin-left: 4vw; color: var(--ion-color-primary); outline:
                        none;padding:0;font-size: 0vw; display: contents;" (click)="presionado('1',y,x)">
                          <img src="assets/icon/png/Asiento-ocupado.png" *ngIf="asiento.estado==='ocupado'" />
                          <img src="assets/icon/png/Asiento-disponible.png" *ngIf="asiento.estado==='libre'" />
                          <img src="assets/icon/png/Asiento-seleccionado.png"
                            *ngIf="asiento.estado==='seleccionado'" />
                          <ion-text
                            style="color: red; color: white;position: absolute;font-size: 0.8rem;top: 1rem;font-weight: bold;">
                            {{asiento.asiento}}
                          </ion-text>
                        </ion-button>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- piso2 -->
                <div style="width: 100%;height: 100%;" *ngIf="!piso1">
                  <div style="width: 100%; display: flex;" *ngFor="let columna of bus['2'] ; let x= index">
                    <div style="width: 100%; display: flex;" *ngFor="let asiento of columna ; let y= index">
                      <!-- [style.width]="( asiento.estado ==='libre' || asiento.estado ==='ocupado'  || asiento.estado ==='seleccionado')? '100%':'50%'" > -->

                      <ion-button fill="clear" style="margin-left: 4vw; color: var(--ion-color-primary); outline:
                        none;padding:0;font-size: 0vw;display: contents;" (click)="presionado('2',y,x)"
                        *ngIf="asiento.estado ==='libre' || asiento.estado ==='ocupado'  || asiento.estado ==='seleccionado'">
                        <img src="assets/icon/png/Asiento-ocupado.png" *ngIf="asiento.estado==='ocupado'" />
                        <img src="assets/icon/png/Asiento-disponible.png" *ngIf="asiento.estado==='libre'" />
                        <img src="assets/icon/png/Asiento-seleccionado.png"
                          *ngIf="asiento.estado==='seleccionado'" />
                        <ion-text
                          style="color: red; color: white;position: absolute;font-size: 0.8rem;top: 1rem;font-weight: bold;">
                          {{asiento.asiento}}
                        </ion-text>
                      </ion-button>

                    </div>
                  </div>
                </div>
              </div>

              <!-- leyenda -->
              <div style="width: 40vw; display: flex;justify-content:
                center;align-items: center;border-left: 2px solid #f2f2f2;">
                <div>
                  <div style="display: flex;align-items: center;">
                    <img style="height: 2rem;" src="assets/icon/png/Asiento-disponible.png" />
                    <ion-text>Disponible</ion-text>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <img style="height: 2rem;" src="assets/icon/png/Asiento-ocupado.png" />
                    <ion-text>Ocupado</ion-text>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <img style="height: 2rem;" src="assets/icon/png/Asiento-seleccionado.png" />
                    <ion-text>Seleccionado</ion-text>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>



</ion-content>

<ion-footer>
  <!-- <div style="width: 100%; display: flex;">
    <ion-button fill="clear" style="color: var(--ion-color-primary); width: 25%; outline:
      none;">
      <ion-icon src="assets/icon/previous.svg" style="color:
        var(--ion-color-primary);font-size: 2.5vw;padding: 3px;">
      </ion-icon>
      <div style="display: inline; text-align: right; text-transform:
        none;font-size: 3vw;">
        Atrás
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: var(--ion-color-primary); width: 25%; outline:
      none;">
      <ion-icon name="md-repeat" style="transform: rotate(90deg); color:
        var(--ion-color-primary);font-size: 5vw;"></ion-icon>
      <div style="display: inline; text-align: right; text-transform:
        none;font-size: 3vw;">
        Ordenar
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: var(--ion-color-primary); width: 25%; outline:
      none;">
      <ion-icon name="md-code-download" style="color: var(--ion-color-primary);font-size:
        5vw;padding: 1px;"></ion-icon>
      <div style="display: inline; text-align: right; text-transform:
        none;font-size: 3vw;">
        Filtros
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: var(--ion-color-primary); width: 25%; outline:
      none;">
      <div style="display: inline; text-align: right; text-transform:
        none;font-size: 3vw;">
        Siguiente
      </div>
      <ion-icon src="assets/icon/previous.svg"
        style="transform: rotate(180deg); color: var(--ion-color-primary);font-size: 3vw;"></ion-icon>
    </ion-button>
  </div> -->

  <div style="width: 100%; display: flex;align-items: center;justify-content:
    center; background-color: var(--ion-color-primary);">
    <div style="width: 50%;display: inline; text-align: left;padding-right: 7px;
      text-transform: none;padding-left: 20px;font-size: 1.5rem;color:
      white;font-weight: bold;">
      Total: ${{tarifaTotal.toLocaleString('de-DE') }}
    </div>

    <ion-button fill="clear" style="color: white; width: 50%; outline: none;" (click)="continuar()">
      <div style="display: inline; text-align: right;padding-right: 7px;
        text-transform: none">
        Continuar
      </div>
      <ion-icon src="assets/icon/previous.svg" style="transform:
        rotate(180deg);"></ion-icon>
    </ion-button>
  </div>
</ion-footer>