ion-header {
  height: 15vh;
  width: 100vw;
  background-color: var(--ion-color-primary);
  text-align: center;
  color: white;
}

.cabeceraGeneral {
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabeceraTitulo {
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: italic;
}

.footerStart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: 100%;
  text-align: center;
}

.botonMenu {
  display: inline;
  width: 33%;
  border: solid 1px;
  border-color: var(--ion-color-primary);
  background-color: white;
  margin: 3px;
}

.btnMenuIcono {
  justify-content: center;
  height: 50%;
  padding-top: 3vh;
  color: var(--ion-color-primary);
  font-size: 9vh;
}

.btnMenuTexto {
  justify-content: center;
  height: 50%;
  padding-top: 4vh;
  color: var(--ion-color-primary);
  font-size: 2vh;
}



// ion-alert {
//   .alert-head {
//     background-color: blue;
//   }
//   .alert-title {
//     text-align: center !important;
//     font-size: 7vw !important;
//     color: white !important;
//   }
//   .alert-message {
//     text-align: center !important;
//     font-size: 4vw !important;
//     color: darkgray !important;
//     ion-icon {
//       color: blue;
//       font-size: 10vw;
//       margin: 4vw;
//     }
//   }
// }
