<ion-header>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 15%;"></div>

    <div style="display: inline; width: 20rem;">
      <img src="assets/images/LogoViaja.png" style="object-fit: scale-down;position: relative; z-index: 10;height: 8vh; margin-top: 0.6rem">
    </div>

    <div style="display: inline; width: 15%;"></div> 
    
  </div>
  
  
  
  <!-- <div class="cabeceraTitulo"> ¡Bienvenido! </div> -->

</ion-header>

<ion-content style="background-color: var(--ion-color-primary);">

  <ion-slides scrollbar="false" style="width: 100%; height: 100%;" [options]="options">

    <ion-slide style="width: 100%; height: 100%;">
      <img src="assets/images/intro1.jpg" style="height: 100%; width: 100%; object-fit: cover;">
    </ion-slide>

    <ion-slide style="width: 100%; height: 100%;">
      <img src="assets/images/intro2.jpg" style="height: 100%; width: 100%; object-fit: cover;">
    </ion-slide>

    <ion-slide style="width: 100%; height: 100%;">
      <img src="assets/images/intro3.jpg" style="height: 100%; width: 100%; object-fit: cover;">
    </ion-slide>

    <!-- <ion-slide style="width: 100%; height: 100%;">
      <img src="assets/images/pasajeros3.jpg" style="height: 100%; width: 100%; object-fit: cover;">
    </ion-slide> -->

  </ion-slides>


</ion-content>
<div style="position: absolute;width: 100%; height: 100%; background-color: red;">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxx</div>

<div style="position: absolute; left: 50%; top:50%;z-index: 99;">
  <div style="position: relative; left: -50%; ">

    <div class="bienvenido">¡Bienvenido!</div>  

    <div style=" background-color: aliceblue ;display: flex; border-radius: 0.3rem; height: 3.3rem; justify-content: center; padding: 10px; color: #4d5fa0;margin: 0 8vw;" routerLink="/buy-your-ticket">
      <div style="width: 20%;display: flex; justify-content: center; align-items: center;">
        <ion-icon style="font-size: 2.5rem;" name="md-bus"></ion-icon>
      </div>
      <div style="width: 70%;display: flex; align-items: center; font-size: 1rem; font-weight: bold; justify-content: center;"> Comprar pasaje</div>
      <div style="width: 10%;display: flex; justify-content: center; align-items: center;">
        <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 1rem;"></ion-icon>
      </div>
    </div>


  </div>
</div>
<!-- <ion-footer  style="background-color: var(--ion-color-primary);"> -->
<!-- <ion-footer  style="background-color: var(--ion-color-primary);"> -->

  <!-- <div style="width: 100%;  display: flex;  text-align: center;height: 23vh; background-color: white; ">

    <div class="botonMenu" routerLink="/buy-your-ticket">
      <ion-grid fixed style="height: 100%;">
        <ion-row class="btnMenuIcono">
          <ion-icon name="md-bus"></ion-icon>
        </ion-row>
        <ion-row class="btnMenuTexto">
          Comprar Pasaje
        </ion-row>
      </ion-grid>
    </div>

    <div class="botonMenu" routerLink="/login">
      <ion-grid fixed style="height: 100%;">
        <ion-row class="btnMenuIcono">
          <ion-icon name="md-person"></ion-icon>
        </ion-row>
        <ion-row class="btnMenuTexto">
          Mis datos
        </ion-row>
      </ion-grid>
    </div>

    <div class="botonMenu" routerLink="/my-tickets">
      <ion-grid fixed style="height: 100%;">
        <ion-row class="btnMenuIcono">
          <ion-icon name="md-list-box"></ion-icon>
        </ion-row>
        <ion-row class="btnMenuTexto"> 
          Mis tickets
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <div style="width: 100%;  display: flex;  text-align: center;height: 23vh; background-color: white; ">

    <div class="botonMenu" routerLink="/my-data" >
      <ion-grid fixed style="height: 100%;">
        <ion-row class="btnMenuIcono">
          <ion-icon name="md-log-in"></ion-icon>
        </ion-row>
        <ion-row class="btnMenuTexto">
          Registrarse
        </ion-row>
      </ion-grid>
    </div>

    <div class="botonMenu" > 
      <ion-grid fixed style="height: 100%;" routerLink="/contact" >
        <ion-row class="btnMenuIcono"> 
          <ion-icon name="md-call"></ion-icon>
        </ion-row>
        <ion-row class="btnMenuTexto">
          Contacto
        </ion-row>
      </ion-grid>
    </div>

    <div class="botonMenu" routerLink="/terms-conditions">
      <ion-grid fixed style="height: 100%;">
        <ion-row class="btnMenuIcono">
          <ion-icon name="md-information-circle"></ion-icon>
        </ion-row>
        <ion-row class="btnMenuTexto">
          Términos
        </ion-row>
      </ion-grid>
    </div>
  </div>  -->

  <!-- <div style="height: 46vh; display: flex; flex-direction: column; color: var(--ion-color-primary);padding: 2vh 0;">

    <div style=" background-color: white ;height: 33%;margin: 0.5rem 2rem;display: flex; border-radius: 1rem;" routerLink="/buy-your-ticket">
      <div style="width: 20%;display: flex; justify-content: center; align-items: center;">
        <ion-icon style="font-size: 2.5rem;" name="md-bus"></ion-icon>
      </div>
      <div style="width: 70%;display: flex; align-items: center; font-size: 1rem; font-weight: bold;">
        Comprar pasaje</div>
      <div style="width: 10%;display: flex; justify-content: center; align-items: center;">
        <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 1.3rem;"></ion-icon>
      </div>
    </div>

    <div style=" background-color: white ;height: 33%;margin: 0.5rem 2rem;display: flex; border-radius: 1rem;" routerLink="/contact">
      <div style="width: 20%;display: flex; justify-content: center; align-items: center;">
        <ion-icon style="font-size: 2.5rem;" name="md-call"></ion-icon>
      </div>
      <div style="width: 70%;display: flex; align-items: center; font-size: 1rem; font-weight: bold;">
        Contacto</div>
      <div style="width: 10%;display: flex; justify-content: center; align-items: center;">
        <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 1.3rem;"></ion-icon>
      </div>
    </div>

    <div style=" background-color: white ;height: 33%;margin: 0.5rem 2rem;display: flex; border-radius: 1rem;" routerLink="/terms-conditions">
      <div style="width: 20%;display: flex; justify-content: center; align-items: center;">
        <ion-icon style="font-size: 2.5rem;" name="md-information-circle"></ion-icon>
      </div>
      <div style="width: 70%;display: flex; align-items: center; font-size: 1rem; font-weight: bold;">
        Términos y condiciones</div>
      <div style="width: 10%;display: flex; justify-content: center; align-items: center;">
        <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 1.3rem;"></ion-icon>
      </div>
    </div>
 
  </div> -->

  <!-- footer botones  regresar continuar -->
  <!-- <div>
    <div style="height:7vh; width: 100%; display: flex;align-items: center;justify-content: center;"> -->

      <!-- <ion-button fill="clear" style="color: white; height: 100%; width: 50%; outline: none;">
        <ion-icon src="assets/icon/previous.svg"></ion-icon>
        <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
      </ion-button>

      <ion-button fill="clear" style="color: white; height: 100%; width: 50%; outline: none;" routerLink="/">
        <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Continuar</div>
        <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
      </ion-button> -->

    <!-- </div>
  </div> -->

<!-- </ion-footer> -->

<!-- <ion-icon name="add-md"></ion-icon> -->